@import "./reset.css";

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=date]:invalid::-webkit-datetime-edit {
    color: #BCBABA;
}

.wrapper {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.main {
    flex: 1 1 auto;
}

[class*="__container"] {
    max-width: 1565px;
    margin: 0px auto;
    padding: 0px 15px;
}

.header {
    position: absolute;
    width: 100%;
    z-index: 50;
}
.header__container {
    display: flex;
    min-height: 114px;
    align-items: center;
}
.header__logo {
    max-width: 40px;
}
.header__menu {
    flex: 1 1 auto;
}
.menu {
    display: flex;
    justify-content: flex-start;
    padding: 0px 0px 0px 30px;
}
.menu__list {
    display: flex;
}
.menu__item {
    margin: 13px 15px 0px 0px;
}

.menu__link {
    position: relative;
    display: inline-block;
    vertical-align: top;
    font-family: Montserrat;
    font-weight: 400;
    font-size: 25;
    line-height: 2;
    color: #616161;
    transition: all 0.6s linear;
    cursor: pointer;
}

.menu__link::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: #607F4C;
    opacity: 0;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;

    transition: opacity .1s linear;
}

.menu__link:hover {
    color: #607F4C;
 }

 .menu__link:hover:after {
    opacity: 1;
 }
/* PC */
@media (max-width: 1565px) {
    [class*="__container"] {
        max-width: 1465px;
    }
}

/* Tablet */
@media (max-width: 992px) {
    [class*="__container"] {
        max-width: 500px;
    }
    .header {
       display: flex;
    }
    .block-text {
        text-align: center;
    }
    .psycholog__text-title {
        font-size: 50px;
    }
    .psycholog__text {
        padding: 0px 0px 40px 6px;
    }

}

/* MOBILE */
@media (max-width: 767.98px) {
    [class*="__container"] {
        max-width: 730px;
    }
}

@media (max-width: 440px) {
    [class*="__container"] {
        max-width: 315px;
    }
}

/* PSYCHOLOG */

.psycholog {
    background-color: #fcfdfe;
    padding: 150px 0px 0px 0px;
}
.psycholog__container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.block-text {
    max-width: 410px;
}
.psycholog__text-title {
    color: #000;
    font-family: Montserrat;
    font-weight: 600;
    font-size: 90px;
}

.psycholog__text-title:not(:last-child) {
    margin: 0px 0px -9px 0px;
}

.psycholog__text {
    color: #9A9696;
    font-family: Montserrat;
    font-weight: 400;
    font-size: 16px;
    padding: 0px 0px 70px 6px;
}

.button {
    display: inline-block;
    font-family: Montserrat;
    font-weight: 400;
    color: #fcfdfe;
    background-color: #78A2CC;
    font-size: 15px;
    line-height: 1.2;
    padding: 14px 30px;
    border-radius: 35px;
    cursor: pointer;
}

.psycholog-text__button {
    background-color: #607F4C;
    transition: all .1s linear;
}

.psycholog-text__button:hover {
    background-color: #fff;
    color: #607F4C;
    border: solid;
}

.psycholog__image {
    flex: 0 1 30%;
    height: 635px;
    transform: translate(150%, -25%);
}

.psycholog__image img{
  max-width: 100%;
}

/* PC */
@media (max-width: 1565px) {
    .psycholog__image {
        height: 590px;
        transform: translate(115%, -25%);
    }

    .block-text {
        margin-bottom: 50%;
    }
}

/* Tablet */
@media (max-width: 992px) {
    .psycholog__image {
        display: none;
    }

}

/* MOBILE */

@media (max-width: 440px) {
    .block-text {
        text-align: center;
    }
    .psycholog__text-title {
        font-size: 50px;
    }
    .psycholog__text {
        padding: 0px 0px 40px 6px;
    }
}



.line_cont::after {
    content: "";
    display: block;
    max-width: 90px;
    height: 3px;
    background-color: #9AB786;
    margin: 80px auto 25px auto;
}

/* MY HELP */

.main-text_title {
    font-family: Montserrat;
    font-weight: 600;
    color: #000;
    font-size: 40px;
    text-align: center;
    max-width: 400px;
    margin: 0px auto;
}
.my-help__item-list {
    display: flex;
    flex-wrap: wrap;
}
.my-help__item {
    display: block;
    max-width: 420px;
    height: 150px;
    background-color: #88AB72;
    border-radius: 40px;
    margin: 30px 0px 0px 70px;
    box-shadow: 1px 1px 25px -10px black;
}
.my-help__item-content {
    max-width: 430px;
    max-height: 150px;
}
.my-help__item-num {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 30px;
    text-align: left;
    color: #fcfdfe;
    padding: 10px 0px 0px 25px;
}
.my-help__item-text {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 20px;
    color: #fcfdfe;
    padding: 5px 0px 0px 20px;
    }


    @media (max-width: 1565px) {
        .my-help__item-list {
            justify-content: center;
        }
    }

    @media (max-width: 992px) {
        .my-help__item {
            margin: 30px 0px 0px 40px;
        }
    }

    @media (max-width: 440px) {
        .my-help__item {
           height: 230px;

        }
        .my-help__item-num {
            padding: 10px 0px 0px 40%;
        }
    }

/* MY VALUES */

.my-values__text {
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 30px;
    max-width: 1000px;
    margin: 40px 0px 40px 40px;
    color: #000;
    }

.my-values__text:last-child {
    margin: 40px 0px 0px 40px;
}

.my-values__text span {
    font-weight: 600;
    color: #607F4C;
}

@media (max-width: 992px) {
    

    .my-values__content {
        display: flex;
        flex-wrap: wrap;
    }
    .my-values__text {
        margin: 50px 0px 40px 65px;
    }
    .my-values__text:last-child {
        margin: 40px 0px 40px 65px;
    }
}


/* MY STEPS */

.my-steps__title {
    max-width: 750px;
}
.my-steps__steps-block {
    display: flex;
    flex-wrap: wrap;
    margin-top: 100px;
}
.my-steps__step-text {
    font-family: 'Montserrat';
    font-weight: 600;
    font-size: 30px;
    color: #000
}

.my-steps__item {
    margin: 0 117px;
}



.my-steps__img {
    margin: 20px 0px 0px 30px;
}

@media (max-width: 1565px) {
    .my-steps__container {
        max-width: 100%;
    }
}


@media (max-width: 992px) {
    .my-steps__step-text {
        text-align: center;
        margin: 50px 0px 0px 15px;
    }
    .my-steps__container {
    
    }
    .my-steps__steps-block {
        margin: auto -10px;
    }
}

@media (max-width: 440px) {
    .my-steps__steps-block {
        margin: auto -100px;
    }
}



/*MY FORM*/



.my-form__form-class {
    z-index: 2;
    max-width: 350px;
    height: 530px;
    background: white;
    border-radius: 20px;
    box-shadow: 1px 1px 25px -10px black;
    padding-top: 20px;
    margin: 100px auto;
}

form {
    padding: 0px 30px;
    box-sizing: border-box;
}


form .txt_field {
   position: relative;
   border: 2px solid #78A2CC;
   border-radius: 100px;
   margin: 30px auto;
}



.txt_field input {
    width: 100%;
    padding: 0 15px;
    height: 45px;
    font-size: 18px;
    border: none;
    font-family: 'Montserrat';
}

.txt_field label {
    position: absolute;
    left: 15px;
    margin-top: 14px;
    color: #BCBABA;
    font-family: 'Montserrat';
    font-weight: 500;
    text-align: center;
    pointer-events: none;
}

.txt_field input:focus ~ label, 
.txt_field input:valid ~ label {
    display: none;
}


.my-form__btn {
   position: absolute;
   margin: auto 25px;
   width: 230px;
}

/*MY-PLATFORMS*/
.my-platforms__items {
   display: flex;
   margin-top: 70px;
   
}

.my-platforms__platofrm {
     margin: auto 200px;

}
.my-platforms__platofrm img{
    object-fit: contain;

}

@media (max-width: 1565px) {
  
    .my-platforms__platofrm {
        margin: auto 120px;
   }
   
}
@media (max-width: 1216px) {
    .my-platforms__items {
        flex-wrap: wrap;
    }
  
}
@media (max-width: 992px) {
    .my-platforms__platofrm {
        margin: 50px 320px;
   }

}

@media (max-width: 440px) {
    .my-form__btn {
        margin: 5px 30px;
    }
}

/*FOOTER*/
.footer {
    margin-top: 200px;
    max-width: 100%;
    height: 300px;
    background-color: #607F4C;
}

.footer__text {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 25px;
    text-align: center;
    max-width: 1700px;
    color: #FFF;
    margin: 50px auto;
}
